#error{
    color: red;
}
fieldset{
    width: 500px;
    margin-bottom: 20px;
}
input, select{
    margin-bottom: 20px;
}
textarea{
    width: 300px;
}
input[type='submit']{
    margin-top: 20px;
}
